
body {
  background: #000;
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Roboto";
  font-weight: 100;
}

h1 {
  font-family: 'Roboto';
  font-weight: 100;
}

a {
  text-decoration: none;
}

#welcome {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
  background: url('../pics/IMG_20151217_113216_398-01.jpeg') no-repeat;
  background-size: cover;
}

#social {
  position: absolute;
  left: 50%;
  height: 40px;
  transform: translateX(-50%);
  text-align: center;
}

#social .icon {
  display: inline-block;
  color: rgba(255,255,255,0.3);
  margin: 8px 4px 0 4px;
  font-size: 18px;
  transition: 0.1s;
}

#social .icon:hover {
  color: white;
  margin: 0 1.4px;
  font-size: 24px;
  transition: 0.1s;
}

#enter {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

#enter button {
  background-color: rgba(0,0,0,0.3);
}

#enter button:hover {
  color: black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.6);
  background-color: rgba(255,255,255, 0.5);
}

#enter button i {
  position: relative;
  transform: translateY(24%);
  font-size: 30px;
}

/*End of landing page*/
#index {
  opacity: 0;
}

.header {
  height: 350px;
  width: 100%;
  background: url('../pics/20151004_134559-01.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
  text-align: center;
  opacity: 0.85;
}

.header:nth-of-type(2) {
  height: 600px;
  background: url('../pics/20151207_124734-01.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.header:nth-of-type(3) {
  height: 600px;
  background: url('../pics/20151102_214105-01.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.header .title {
  color: white;
  display: block;
  width: 100%;
  font-family: 'Tangerine';
  font-size: 148px;
  font-style: italic;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
}

.box {
  position: absolute;
  background-color: black;
  z-index: 5;
  height: 500px;
  width: 100%;
}


.box .holder {
  position: absolute;
  width: 99%;
  height: 98%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box .holder .pic {
  overflow: hidden;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 4px solid black;
}

.box .holder .pic img {
  position: absolute;
  left: -50%;
  height: 100%;
}

@media only screen and (min-width: 940px) {
  #welcome {
    background-size: contain;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
    border: 1px solid #222;
}


::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px rgba(255,255,255,0.1);
    background-color: #333;
}
